*{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* topbar styles start */
#quick-links-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#brand-logo img{
    width: 60px;
}

#quick-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 120px;
}

#link-text{
    font-size: 14px;
    margin-right: 80px;
    border-bottom: 3px solid white;
}

#link-text:hover {
    border-bottom: 3px solid rgb(4, 205, 251);
}
/* topbar styles end */

/* navbar style starts */
#navbar-main{
    background-color: rgb(1, 175, 209);
    height: 50px;
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.dropdown{
    display: inline-flex;
    margin-left: 60px;     
}

.dropdown-title{
    color: white;
    font-size: 17px;
    font-weight: 300;
    margin-top: 15px;
}

.dropdown-items{
    display: block;
    padding: 2px 1px;
    cursor: pointer;
    text-align: center;
}

/* .dropdown-items:hover {} */

.dropdown .dropdown-content{
    display: none;
    margin-top: 40px;
    position: absolute;
    background-color: white;
    border-radius: 10%;
    width: 180px;
}

.dropdown:hover .dropdown-content{
    display: block;
}

/* hero section style starts here */

#hero-section{
    background-image:linear-gradient(rgba(80, 80, 80, 0.1) 47.4%, rgb(0, 0, 0) 90.97%),url('/images/hero-image.jpg');
    height: 85vh;
    background-size: cover;
    background-repeat: no-repeat;
}

#hero-heading{
    font-weight: 600;
    font-size: 45px;
    text-align: center;
    color: white;
    text-shadow: 2px 4px 9px black;
    padding-top: 80px;
}

/* typing effect code  */
#typing-container {
    font-weight: 800;
    font-size: 30px;
    text-align: center;
    color: white;
    text-shadow: 2px 4px 9px black;
    padding-top: 20px;

}

#cursor {
    display: inline-block;
    width: 4px;
    height: 30px;
    background-color: white;
    animation: blink-caret 0.75s infinite;
}

#text {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(30, end);
}

/* Text typing animation */
@keyframes typing {
    from {
        width: 0
    }
}

/* Cursor blinking animation */
@keyframes blink-caret {
    50% {
        opacity: 0
    }
}

#search-container{
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

#search-box{
    width: 700px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.25);
    border: 2px solid aqua;
}

#search-input{
    color: aliceblue;
    font-size: 18px;
    margin-left: 20px;
    margin-top: 15px;
    width: 650px;
    caret-color: whitesmoke;
    background-color: transparent;
    border: none;
    outline: none;
}

#search-input::placeholder {
    color: white;
    font-size: 20px;
}

#search-icon{
    background-color:gold;
    text-align: center;
    padding: 26px;
}

#reviews-container{
    display: flex;
    justify-content: space-evenly;
    padding-top: 210px;
}
.review-section{
    display: flex;
    align-items: center;
}
.review-image{
    width: 45px;
    height: 45px;
    margin-right: 10px;
}

.rating-star{
    color: gold;
}

.rating-percentage{
    color: aliceblue;
    font-weight: bolder;
}

.rating-count {
    color: aliceblue;
}
/* hero section style ends here */