*{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* topbar styles start */
#quick-links-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#brand-logo img{
    width: 60px;
}

#quick-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 120px;
}

#link-text{
    font-size: 14px;
    margin-right: 80px;
    border-bottom: 3px solid white;
}

#link-text:hover {
    border-bottom: 3px solid rgb(4, 205, 251);
}
/* topbar styles end */

/* navbar style starts */
#navbar-main{
    background-color: rgb(1, 175, 209);
    height: 50px;
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.dropdown{
    display: inline-flex;
    margin-left: 60px;     
}

.dropdown-title{
    color: white;
    font-size: 17px;
    font-weight: 300;
    margin-top: 15px;
}

.dropdown-items{
    display: block;
    padding: 2px 1px;
    cursor: pointer;
    text-align: center;
}

/* .dropdown-items:hover {} */

.dropdown .dropdown-content{
    display: none;
    margin-top: 40px;
    position: absolute;
    background-color: white;
    border-radius: 10%;
    width: 180px;
}

.dropdown:hover .dropdown-content{
    display: block;
}

/* hero section style starts here */
#hero-section{
    background-image:linear-gradient(rgba(80, 80, 80, 0.1) 47.4%, rgb(0, 0, 0) 90.97%),url('/hero-image.jpg');
    height: 85vh;
    background-size: cover;
    background-repeat: no-repeat;
}

#hero-heading{
    font-weight: 600;
    font-size: 45px;
    text-align: center;
    color: white;
    text-shadow: 2px 4px 9px black;
    padding-top: 80px;
}

/* typing effect code  */
#typing-container {
    font-weight: 800;
    font-size: 30px;
    text-align: center;
    color: white;
    text-shadow: 2px 4px 9px black;
    padding-top: 20px;

}

#cursor {
    display: inline-block;
    width: 4px;
    height: 30px;
    background-color: white;
    animation: blink-caret 0.75s infinite;
}

#text {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(30, end);
}

/* Text typing animation */
@keyframes typing {
    from {
        width: 0
    }
}

/* Cursor blinking animation */
@keyframes blink-caret {
    50% {
        opacity: 0
    }
}

